body
{
    width: 100%;
    height: 100vh;
    margin: 0px;
    font-family: Arial, Helvetica, sans-serif;
    color: black;
}

.a1
{
    background-color: whitesmoke;
    width: 320px;
    height: 70px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    justify-items: center;
    align-content: center;
    align-items: center; 
    border-bottom: 1px outset rgb(223, 222, 222);  
    border-radius: 3px;
    box-shadow: 0px 0px 12px rgba(0, 0, 0, 0.327);
    
}

.a2
{
    background-color: whitesmoke;
    width: 300px;
    height: 12px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    justify-items: center;
    align-content: center;
    align-items: center;   
    text-align: center;
    font-size: 11px;
}



.a4
{
    background-color: whitesmoke;
    width: 150px;
    height: 47px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    justify-items: center;
    align-content: center;
    align-items: center;   
}

.a5
{   
    background-color: yellow;
    width: 40px;
    height: 40px;
}

.a6
{
    background-color: whitesmoke;
    width: 40px;
    height: 40px;
    
}

.x {
    width: 40px;
    height: 40px;
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    justify-items: center;
    align-content: center;
    align-items: center;  
    text-align: center;
    color: rgba(0, 0, 0, 0.37);
  }
  
  a
   {
    text-decoration: none;
    
    }

    .fundo
    {
      width: 400;
      height: 800;
      display: flex;
      flex-direction: column;
      justify-content: space-around;
      justify-items: center;
      align-content: center;
      align-items: center; 
      border-bottom: 1px outset rgb(223, 222, 222);  
      border-radius: 3px;
      box-shadow: 0px 0px 12px rgba(0, 0, 0, 0.327);
      background-image: url(img/fundocampo.png);

    }

    .titulo
    {
      width: 80%;
      height: 200px;
      display: flex;
      flex-direction: column;
      justify-content: space-around;
      justify-items: center;
      align-content: center;
      align-items: center; 
      border-radius: 3px;
      box-shadow: 0px 0px 12px rgba(0, 0, 0, 0.327);
    }